body {
    margin: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background-color: hsl(180, 52%, 96%);
}

header {
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: hsl(180, 29%, 50%);
}

header img{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid hsl(180, 29%, 50%);
    background-image: url("../images/bg-header-desktop.svg");
}

.content {
    width: 100%;
    height: auto;
    position: relative;
}

.relative-cards {
    position: relative;
    top: -45px;
}

.card, .filter {
    /* display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 150px; */
    display: flex;
    flex-direction: row;
    padding: 3em 1em;
    border-radius: 0.6em;
    /* border: 1px solid red; */
    width: 70%;
    margin: 10px auto;
    align-items: center;
    font-size: 0.8em;
    background-color: white;
    -webkit-box-shadow: 11px 11px 25px -11px rgba(91,164,164,1);
    -moz-box-shadow: 11px 11px 25px -11px rgba(91,164,164,1);
    box-shadow: 11px 11px 25px -11px rgba(91,164,164,1);
    /* border: 1px solid red;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    align-items: center;
    background-color: white; */
}

.filter {
    justify-content: space-between;    
    padding: 1em;
    position: relative;
    top: -60px;
    display: none;
}

.card img{
    width: 70px;
    height: auto;
    padding-left: 20px;
    padding-right: 10px;
}

.job-bussiness {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.job-bussiness h4 {
    margin: 0;
    color: hsl(180, 29%, 50%);
}

.new {
    padding: 0.7em 0.7em 0.4em;
    border-radius: 1.5em;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: hsl(180, 29%, 50%);
    color: white;
    font-weight: 700;
    margin-left: 1em;
}

.featured {
    padding: 0.7em 0.7em 0.4em;
    border-radius: 1.5em;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-weight: 700;
    margin-left: 0.7em;
}

.job {
    width: 50%;
}

.job-title {
    margin: 0;
    color: black;
    cursor: pointer;
    font-size: 1.3em;
    margin: 0.5em 0;
}

.job-title:hover {
    color: hsl(180, 29%, 50%);
}

.job-details ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.job-details li {
    list-style: none;
    padding: 0.2em 0.8em 0.2em 0;
    color: gray;
}

.skills {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
}

.skills a {
    padding: 0.7em;
    margin: 0.5em;
    border-radius: 0.3em;
    color: hsl(180, 29%, 50%);
    font-weight: 600;
    font-size: 0.9em;
    background-color: hsl(180, 52%, 96%);
    cursor: pointer;
    position: relative;
}

.skills a:hover {
    color: white;
    background-color: hsl(180, 29%, 50%);
}

.line-job {
    display: none;
}

.clear a{
    margin: 1em;
    color: gray;
    font-weight: 700;
    cursor: pointer;
}

.clear a:hover {
    color: hsl(180, 29%, 50%);
    text-decoration: underline;
}

.filters-seacrh {
    display: flex;
    flex-direction: row;
}

.filter-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 10px;
}

.text {
    background-color: hsl(180, 52%, 96%);
    color: hsl(180, 29%, 50%);
    border-radius: 0.4em 0 0 0.4em;
    padding: 0.44em;
    font-weight: 700;
}

.image {
    /* height: 2em; */
    padding: 5px 5px 2px 5px;
    background-color: hsl(180, 29%, 50%);
    border-radius: 0 0.4em 0.4em 0;
}

.image:hover {
    background-color: black;
}

@media (max-width: 780px) {

    .skills {
        /* justify-content: flex-start; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .skills a {
        margin-left: 0;
        max-width: 70px;
    }

    .filter {
        width: 85%;
    }

    .card {
        position: relative;
        width: 85%;
        flex-direction: column;
        text-align: left;
        margin-bottom: 3em;
    }

    .card img{
        position: absolute;
        left: 0;
        top: -20px;
        width: 50px;
        height: auto;
    }

    .line-job {
        display: block;
        width: 100%;
        height: 0;
        margin: 0.8em 0;
        border-bottom: 1px solid #A0A0A0;
    }

    .job {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .card {
        width: 85%;
    }

    .filter {
        width: 85%;
    }
}

@media (max-width: 375px) {
    header img {
        background-image: url("../images/bg-header-mobile.svg");
    }
}